body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cdcdcd;
  font-family: Verdana;
}
form {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 65%;
  padding: 0 50px;
}
form h1 {
  font-size: 1.5rem;
  color: #303030;
  width: 200%;
  text-align: center;
}
form div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 60%;
}
form div input,
select {
  height: 115%;
  width: 80%;
  padding-left: 20px;
  margin-top: 15px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffffff;
  outline: none;
  font-size: 20px;
  color: #787d8b;
  appearance: none;
}

div input::placeholder {
  color: #9da1ab;
  font-size: 17px;
}
form div label {
  background-color: #a6a5a5;
  width: 45%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #424141;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 15px;
  font-size: 20px;
}
button {
  height: 55px;
  width: 40%;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #5b40f6;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}
button:hover {
  background-color: #6d54f9;
}
div:nth-last-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200%;
  height: 100%;
}
div:nth-last-child(1) label {
  width: 100%;
  background-color: transparent;
}
label {
  /* margin-top: 10px; */
  color: #8c93a5;
  letter-spacing: -1px;
}
label a {
  color: #111111;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.6);
}
/* Styles for screens wider than or equal to 768px */
@media screen and (max-width: 768px) {
  form {
    grid-template-columns: repeat(1, 1fr);
  }
  form h1 {
    width: 100%;
  }
  div:nth-last-child(1) {
    width: 100%;
  }
  div:nth-last-child(1) label {
    font-size: 18px;
  }
}
